body {
    background-image: url("blue3.png");
}
div {
    font-family: 'Montserrat';
}
div.a {
    max-width: 550px;
    padding: 40px;
    background-color: white;
    box-shadow: -14px 14px #252525;
    width: auto;
    height: auto;
}
div.b {
    max-width: 550px;
    height: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: -13px 13px #252525;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.container1 {  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 550px); 
    grid-gap: 100px;
    padding: 50px;  
    align-items: center;
    justify-items: center;
}
.container2 {  
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, 450px); 
    grid-gap: 100px;
    padding: 50px;  
    align-items: center;
    justify-items: center;
}
.container3 {  
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, 250px); 
    grid-gap: 50px;
    padding: 50px;  
}
.container3 > div {
    text-align: center;
    background-color: white;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 500;
}
p.a {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    position: relative;
    top: -20px;
}
p.b {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: grey;
    position: relative;
    top: -30px;
}
p.c {
    font-size: 20px;
    text-align: justify;
    position: relative;
    top: -30px;
}
p.d {
	font-size: 36px;
  	text-align: center;
    font-weight: 700;
    color: white;
}
p.e {
	font-size: 36px;
  	text-align: center;
    font-weight: 700;
    color: white;
    position: relative;
    top: 30px;
}
p.f {
    font-size: 22px;
    color: white;
    position: relative;
    top: -15px;
}
p.g {
	font-size: 30px;
  	text-align: center;
    font-weight: 700;
    position: relative;
    top: -20px;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #252525;
    font-family: 'Montserrat';
}
.button:hover {
    background-color: #252525;
    color: white;
}
.rectangle {
    width: 316px;
    height: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
}
ul.a {
	font-size: 24px;
    color: white;
}
ul.b {
	font-size: 22px;
    color: white;
}
img.a {
    max-height: 450px;
    width: auto;
    box-shadow: -14px 14px #252525;
}